{% extends "base_generic.html" %}

{% block content %}
<h1>Little Chef Home</h1>

  <p>Welcome to <em>littlechef</em>, a very basic Django website developed as a tutorial example on the TOKUMK Consultancy Network.</p>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Recipes:</strong> {{ num_recipes }}</li>
    <li><strong>Chefs:</strong> {{ num_chefs}}</li>
    <li><strong>Recipe Types:</strong> {{ num_recipe_types }}</li>
    <li><strong>Ingredient Types:</strong> {{ num_ingredients }}</li>
	<li><strong>Vietnamese Recipes:</strong> {{ num_ingredients }}</li>
  </ul>

{% endblock %}
